login: &login
  adapter: Sqlite
  host: localhost
  username: root
  password: password


development:
  database: likh_dev
  <<: *login

test:
  database: likh_tests
  <<: *login

production:
  database: typo
  <<: *login
